@import '/src/app/globals.scss';

.options_buttons-container{
    display: inline-flex;
    max-width: 250px;
    background-color: $bg-gris-claro-inact;
    border-radius: $border-radius-button;

    .link{
        text-decoration: none;
    }
}