*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

//Gradiente de fondo
$grad-morado-claro: rgb(192, 132, 252);
$grad-rosa: rgb(236, 72, 153);
$grad-rojo: rgb(239, 68, 68);
$grad-background: linear-gradient(115deg, rgba(192,132,252,1) 0%, rgba(236,72,153,1) 50%, rgba(239,68,68,1) 100%);

// Colores de Fondo
$bg-blanco: rgb(255, 255, 255);
$bg-gris-claro-inact: rgb(243, 244, 246);
$bg-girs-claro-boton-pag:  rgb(229, 231, 235);

//Colores de Texto
$texto-negro: rgb(31, 41, 55);
$texto-gris-medio: rgb(75, 85, 99);
$texto-gris-claro: rgb(107, 114, 128);
$texto-blanco:  rgb(255, 255, 255);

// Colores de Acento y Botones
$boton-morado:  rgb(168, 85, 247);
$boton-morado-hover: rgb(147, 51, 234);
$boton-rosa: rgb(236, 72, 153);
$boton-rosa-hover: rgb(219, 39, 119);
$boton-rojo-texto: rgb(239, 68, 68);
$boton-rojo-texto-hover: rgb(220, 38, 38);
$boton-rojo-hover: rgb(254, 242, 242);
$boton-altura: 42px;

//Colores de Bordes y Focus
$borde-gris: rgb(229, 231, 235);
$borde-focus-morado: rgb(233, 213, 255);
$borde-focus-rosa: rgb(251, 207, 232);

//Border radius
$border-radius-container: 12px;
$border-radius-button: 20px;
$border-radius-input: 20px;

//Tamaño de texto
$tamano-fuente-h1: 40px;

$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

// Inputs forms
$input-form-hight: 45px;
$input-form-padding: 0 15px;
$input-form-border-radius: 8px;
$input-form-border: 1px solid $borde-gris;
$input-form-font-size: 16px;
$input-form-color: $texto-gris-medio;
$input-form-border-outline: 2px solid $borde-gris;
$button-form-border-radius: 8px;