@import '/src/app/globals.scss';

.textarea{
    width: 100%;
    height: 200px;
    resize: none;
    border: $input-form-border;
    border-radius: $input-form-border-radius;
    padding: 15px
}

.textarea:focus{
    border: 1px solid $borde-focus-morado;
    outline: $input-form-border-outline;
    outline-offset: 2px;
}

.textarea-vacancy:focus{
    border: 1px solid $borde-focus-morado;
    outline: $input-form-border-outline;
    outline-offset: 2px;
}

.textarea-company:focus{
    border: 1px solid $borde-focus-rosa;
    outline: $input-form-border-outline;
    outline-offset: 2px;
}