@import '/src/app/globals.scss';

.button{
    height: $boton-altura;
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0 20px;
    border-radius: $border-radius-button;
    cursor: pointer;
    gap: 5px;
    font-size: 14px;
    background-color: $bg-gris-claro-inact;
    color: $texto-negro;
}

.button-vacante{
    background-color: $boton-morado;
    color: $texto-blanco;
    
    &:hover{
        background-color: $boton-morado-hover;
    }
}

.button-vacante-modal{
    background-color: $boton-morado;
    color: $texto-blanco;
    border-radius: $button-form-border-radius;

    &:hover{
        background-color: $boton-morado-hover;
    }
}

.button-comp{
    background-color: $boton-rosa;
    color: $texto-blanco;

    &:hover{
        background-color: $boton-rosa-hover;
    }
}

.button-comp-modal{
    background-color: $boton-rosa;
    color: $texto-blanco;
    border-radius: $button-form-border-radius;

    &:hover{
        background-color: $boton-rosa-hover;
    }
}


.button-pagination{
    padding: 0 10px;
    border-radius: 15px;
    background-color: $bg-girs-claro-boton-pag;
}