@import '/src/app/globals.scss';

.button{
    height: $boton-altura;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0 20px;
    border-radius: $border-radius-button;
    cursor: pointer;
    gap: 5px;
    font-size: 14px;
    background-color: $bg-gris-claro-inact;
}

.button-vacante{
    background-color: $boton-morado;
    color: $texto-blanco;
}

.button-vacante:hover{
    background-color: $boton-morado-hover;
}

.button-pagination{
    padding: 0 10px;
    border-radius: 15px;
    background-color: $bg-girs-claro-boton-pag;
}