@import '/src/app/globals.scss';

.cards-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

@media (min-width: 1200px){
    .cards-container{
        justify-content: space-between;
    }

}